<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

<div class="container-fluid index-header">
    
        <div class="kitaab-title-container h-50 center">
            
            
            <h1 class="splash-title">Kitaab</h1>
            <span class="splash-subtitle">Read more. Share more.</span>
            

        </div>

</div>