<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

<div class="container-fluid index-header">
    
        <div class="row kitaab-title-container">
            
            
            <h1 class="splash-title mx-auto">Kitaab</h1>
            <p class="mx-auto"><span class="splash-subtitle mx-auto">Read more. Share more.</span>
            

        </div>

</div>