<div class="root">

    <div class="search-box">

        <h1>GET A BOOK</h1>


            <input id="searchInput" type="text" ></input>
            <button id="get-book">SEARCH FOR BOOK</button>

    </div>

    <div class="container"></div>

    {{!-- <p><span id="image"></span>

    <p><span id="title"></span>

    <p><span id="author"></span>

    <p><span id="description"></span> --}}

    <script src='./javascripts/script.js'></script>

</div>