<!DOCTYPE html>
<html>
  <head>
    <title>Kitaab</title>
    <script
  src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/axios.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/bootstrap.min.js"></script>
    
  </head>
  <body>


  <nav class="navbar-expand-lg">
    <div class="left-links">
      <a href="/">HOME</a>
      &nbsp;
      &nbsp;
      {{#unless user}}<a href="/users/signup">SIGNUP</a>
      &nbsp;
      &nbsp;
      <a href="/users/login">LOGIN</a>{{/unless}}
      &nbsp;
      &nbsp;
      {{#if user}}<a href="/users/{{user._id}}">MY PROFILE</a>
      &nbsp;
      &nbsp;
      <a href="/users/edit/{{user._id}}">EDIT PROFILE</a>
      &nbsp;
      &nbsp;
      <a href="/users/groups">MY GROUPS</a>
      &nbsp;
      &nbsp;
      <a href="/groups/new">NEW GROUP</a>
      &nbsp;
      &nbsp;
      <a href="/users/books/{{user._id}}">MY BOOKSHELF</a>
    </div>
    <div class="user-name">
      <a href="/logout">LOGOUT</a>{{/if}}
    </div>
  </nav>


    {{{body}}}

    {{!-- <script src='/javascripts/script.js'></script> --}}
  </body>
</html>
