<!DOCTYPE html>
<html>
  <head>
    <title>Kitaab</title>
    <script
  src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
    <script src="/javascripts/axios.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href="/">HOME</a>
      &nbsp;
      &nbsp;
      <a href="/users/signup">SIGNUP</a>
      &nbsp;
      &nbsp;
      <a href="/users/login">LOGIN</a>
      &nbsp;
      &nbsp;
      <a href="/">MY GROUPS</a>
      &nbsp;
      &nbsp;
      <a href="/">MY BOOKS</a>
      &nbsp;
      &nbsp;
      <a href="/logout">LOGOUT</a>
      &nbsp;
      &nbsp;
    </nav>

    {{{body}}}

    {{!-- <script src='/javascripts/script.js'></script> --}}
  </body>
</html>
