<div class="left-half">

        <h1>CREATE NEW GROUP PAGE</h1>

        <form action="/groups/create/" method="post">

        <label for="name">Group Name:</label>
        <input type="text" name="name" id="name">
        <br>

        <label for="members">Add Members:</label>
        <select multiple name="members" id="members" class="select-members">
                {{#each allUsers}}
                        <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
        </select>

        <p></p><button class="btn" type="submit">CREATE GROUP</button>


        {{!-- PUBLIC VS. PRIVATE IS COMMENTED OUT AS AN EXTRA FEATURE THAT I'LL ADD IF TIME PERMITS --}}

        {{!-- <p><input type="radio" name="public" value="true">Public<br>
        <input type="radio" name="public" value="false">Private<br> --}}

        <input id="bookID"type="hidden" name="bookID">

        <input id="bookRating"type="hidden" name="bookRating">

        <input id="bookThumbnail"type="hidden" name="bookThumbnail">

        <input id="bookTitle"type="hidden" name="bookTitle">

        <input id="bookAuthor"type="hidden" name="bookAuthor">

        <input id="bookPagecount"type="hidden" name="bookPagecount">

        <input id="bookDescription"type="hidden" name="bookDescription">

        </form>
</div>

<div class="find-book right-half">
        <div class="search-box">

            <h1>GET A BOOK</h1>


                <input id="searchInput" type="text"  ></input>
                <button id="get-book">SEARCH FOR BOOK</button>

        </div>

        <div class="container"></div>
</div>

<script src='/javascripts/addBooks.js'></script>