<div class="container center">

<h1>LOGIN PAGE</h1>

    <div class="mx-auto col-4 login-box">

    <form action="/users/login" method="post">

        <label for="username">Email: </label>
        <div class="input-group input-group-lg">
            <input id="username" type="text" name="email">
        </div>

        <P></P><label for="password">Password: </label>
        <div class="input-group input-group-lg">
        <input id="password" type="password" name="password">
        </div>

        <p></p><button class="mx-auto btn-primary">SUBMIT</button>

    </form>

    <p>{{#if message}}

    <div>

        <h1 color="red">{{message}}</h1>

    </div>

    {{/if}}

    </div>

</div>