<div class="container">

<h1>SIGNUP PAGE</h1>

<div class="row d-flex align-content-center">
    
    <div class="col-4 align-content-center">

    <form class="signup-form" action="/users/signup" method="post">

        <p><label class="center" for="name">Name: </label>
        <input class="center" id="name" type="text" name="name" placeholder="What's your name?">
        
        <p><label class="center" for="username">Email address: </label>
        <input class="center" id="username" type="text" name="email" placeholder="Pick a Username">

        <p><label class="center" for="password">Password: </label>
        <input class="center" id="password" type="password" name="password" placeholder="Pick a Password">

        <p><button>SUBMIT</button>

    </form>

    <p>{{#if errorMessage}}

    <h1>{{errorMessage}}</h1>

    </div>

</div>
{{/if}}
</div>
</div>