<div class="container">

<h1>SIGNUP PAGE</h1>

<form action="/users/signup" method="post">

    <p><label for="name">Name: </label>
    <input id="name" type="text" name="name" placeholder="What's your name?">
    
    <p><label for="username">Email address: </label>
    <input id="username" type="text" name="email" placeholder="Pick a Username">

    <p><label for="password">Password: </label>
    <input id="password" type="password" name="password" placeholder="Pick a Password">

    <p><button>SUBMIT</button>

</form>

<p>{{#if errorMessage}}

<div>

    <h1>{{errorMessage}}</h1>

</div>
{{/if}}

</div>