<div class="container">

<h1>SIGNUP PAGE</h1>

<div class="row d-flex align-content-center">
    
    <div class="col-4 align-content-center mx-auto">

    <form class="signup-form" action="/users/signup" method="post">

        <p><label for="name">Name: </label>
        <div class="input-group input-group-lg">
        <input id="name" type="text" name="name" placeholder="What's your name?">
        </div>
        
        <p class="pt-3"><label for="username">Email address: </label>
        <div class="input-group input-group-lg">
        <input id="username" type="text" name="email" placeholder="Pick a Username">
        </div>

        <p class="pt-3"><label for="password">Password: </label>
        <div class="input-group input-group-lg">
        <input id="password" type="password" name="password" placeholder="Pick a Password">
        </div>

        <p class="pt-5"><button class="btn-primary">SUBMIT</button>

    </form>

    <p>{{#if errorMessage}}

    <h1>{{errorMessage}}</h1>

    </div>

</div>
{{/if}}
</div>
</div>